*{
    margin: 0;
  padding: 0;
}
.containerStart{
  background: #EEEEEE;
  width: 100%;
  height: 100vh;
}
.title{
    text-align: center;
    font-size: 1.5em;
    padding-top: 1em;
}
.btnsHome{
  padding-top: 3em;
}
.homePageBtn{
    width: 15vh;
}
.btnsHome p{
    text-align: center;
    font-size: 1.2em;
    margin-top: 3em;
}
